.idea/
target/
**/target/
node_modules/
**/node_modules/
build/
**/build/
dist/
**/dist/
.env
.env.local
.env.development
.env.production
*.log
admin_token.txt
user_token.txt
*.iml
.DS_Store
.vscode/
**/.vscode/